.c-journal-link {
  @apply bg-primary-800 rounded-r-2xl relative flex items-center;
  height: 220px;
}

.c-journal-link__spine {
  @apply h-full bg-black bg-opacity-20 w-4;
}

.c-journal-link__title {
  @apply flex-grow p-4 text-center text-lg font-semibold text-white text-opacity-60;
}

.c-journal-link__bookmark {
  @apply absolute top-0 right-6;
}

.c-journal-link:hover .c-journal-link__title {
  @apply text-primary-400;
}

.c-journal-link:hover .c-journal-link__bookmark {
  transform: scaleY(1.2);
  transform-origin: top;
}
