.c-journal-link {
  @apply w-full bg-primary-800 rounded-r-2xl relative flex items-center;
  aspect-ratio: 4 / 5;
}

.c-journal-link__spine {
  @apply h-full bg-black bg-opacity-20 w-2 sm:w-4 flex-shrink-0;
}

.c-journal-link__name {
  @apply flex-grow p-4 text-center sm:text-lg font-semibold text-white text-opacity-60;
}

.c-journal-link__bookmark {
  @apply absolute top-0 right-6;
}

.c-journal-link:hover .c-journal-link__name {
  @apply text-primary-400;
}

.c-journal-link:hover .c-journal-link__bookmark {
  transform: scaleY(1.2);
  transform-origin: top;
}
